$body-color : #FFFFFF;
$font-color : #333;
$btn-bgcolor : #0D172A;
$hover-color : #F7DF1E;
$dropdown-color : #FFFCF5;
$hover-header-color:#7F7F7F;
$slider1Text-color:#5E55DA;
$slider2Text-color:#F5EDEC;
$slider3Text-color:#514BAE;



@mixin font($size,$weight,$color){
    font-size: $size;
    font-weight: $weight;
    color: $color;
}