body {
  font-size: 10px;
  background-color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: #FFFFFF;
  top: 0;
}
header .container {
  max-width: 1250px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
header .container .header-wrapper {
  display: flex;
  align-items: center;
}
header .container .header-wrapper .menu {
  width: 100%;
  margin-top: 1%;
}
header .container .header-wrapper .menu ul {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  display: flex;
  margin-left: 15%;
  gap: 14%;
  line-height: 50px;
}
header .container .header-wrapper .menu ul li:hover {
  color: #7F7F7F;
}
header .container .header-wrapper .menu ul .products {
  position: relative;
}
header .container .header-wrapper .menu ul .products:hover .dropdownfirst {
  display: block;
}
header .container .header-wrapper .menu ul .contact {
  position: relative;
}
header .container .header-wrapper .menu ul .contact:hover .dropdownsecond {
  display: block;
}
header .container .header-wrapper .menu .dropdown {
  display: none;
  position: absolute;
  background-color: #FFFCF5;
  margin-left: 0;
  padding-left: 0;
  width: 130px;
  left: -45%;
}
header .container .header-wrapper .menu .dropdown li {
  text-align: center;
}
header .container .header-wrapper .logo .header-logo img {
  width: 40%;
}
header .container .header-wrapper .cart {
  display: flex;
  align-items: center;
  gap: 15%;
  cursor: pointer;
  margin-right: 4%;
  margin-top: 1%;
}
header .container .header-wrapper .cart i {
  font-size: 1.3rem;
}
header .container .header-wrapper .cart div {
  font-size: 0.88rem;
  font-weight: 600;
  color: #333;
}

main {
  margin-top: 7%;
}
main .shopCart {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  background-color: #FFFFFF;
  width: 35%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 2s;
}
main .shopCart .shopCartWrapper {
  margin-top: 14%;
  padding: 5% 3%;
}
main .shopCart .shopCartWrapper div {
  padding: 5px 0;
}
main .shopCart .shopCartWrapper .shopCartHeader .shopCartTitle {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  width: 88%;
  display: inline-block;
}
main .shopCart .shopCartWrapper .shopCartHeader .shopCartClose {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}
main .shopCart .shopCartWrapper .shopCartEmpty {
  font-size: 0.8rem;
  font-weight: 600;
  color: #333;
  display: none;
}
main .shopCart .shopCartWrapper .shopCartInfo {
  margin-top: 5%;
  padding: 0;
  border-bottom: 1px solid #F7DF1E;
  padding-bottom: 4%;
  display: flex;
  gap: 10%;
}
main .shopCart .shopCartWrapper .shopCartInfo .shopCartInfoImg {
  width: 191px;
  height: 112px;
}
main .shopCart .shopCartWrapper .shopCartInfo .shopCartInfoImg .shopCartImg {
  width: 191px;
  height: 112px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .shopCart .shopCartWrapper .shopCartInfo .shopCartInfoTitle {
  font-size: 0.85rem;
  font-weight: 600;
  color: #333;
}
main .shopCart .shopCartWrapper .shopCartInfo .shopCartInfoDesc {
  font-size: 0.75rem;
  font-weight: 500;
  color: #333;
}
main .shopCart .shopCartWrapper .shopCartInfo .shopCartQuantity .shopCartQuantityTitle {
  font-size: 0.85rem;
  font-weight: 600;
  color: #333;
}
main .shopCart .shopCartWrapper .shopCartInfo .shopCartQuantity .shopCartQuantityNumber {
  font-size: 0.75rem;
  font-weight: 500;
  color: #333;
}
main .shopCart .shopCartWrapper .shopCartInfo .shopCartQuantity .shopCartTimes {
  font-size: 0.7rem;
  font-weight: 500;
  color: #333;
}
main .shopCart .shopCartWrapper .shopCartInfo .shopCartQuantity .shopCartProductPrice {
  font-size: 0.75rem;
  font-weight: 500;
  color: #333;
}
main .shopCart .shopCartWrapper .shopCartProductPrice {
  font-size: 0.75rem;
  font-weight: 500;
  color: #333;
}
main .shopCart .shopCartWrapper .totalPrice {
  padding-top: 7%;
}
main .shopCart .shopCartWrapper .totalPrice .totalPriceTitle {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  display: inline-block;
  width: 81%;
}
main .shopCart .shopCartWrapper .totalPrice .totalPriceNumber {
  font-size: 0.85rem;
  font-weight: 500;
  color: #333;
}
main .shopCart .shopCartWrapper .totalProduct .totalProductTitle {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  width: 77%;
  display: inline-block;
}
main .shopCart .shopCartWrapper .totalProduct .totalProductQuantity {
  font-size: 0.85rem;
  font-weight: 500;
  color: #333;
}
main .slideshow-container {
  max-width: 1250px;
  position: relative;
  margin: auto;
}
main .mySlides {
  position: relative;
  display: none;
}
main .mySlides:nth-child(even):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 80, 91, 0.3);
}
main .mySlides img {
  border-radius: 20px;
  max-height: 352px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .mySlides span {
  position: absolute;
}
main #slider1Text {
  color: #5E55DA;
  font-weight: 600;
  font-size: 2.5rem;
  top: 14%;
  left: 40%;
}
main #slider2Text {
  color: #F5EDEC;
  font-weight: 600;
  font-size: 2.5rem;
  top: 50%;
  left: 28%;
  z-index: 2;
}
main #slider3Text {
  color: #514BAE;
  font-weight: 600;
  font-size: 2.5rem;
  top: 14%;
  left: 35%;
}
main .prev, main .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #333;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .next {
  right: 3%;
  border-radius: 3px 0 0 3px;
}
main .prev {
  left: 2.5%;
}
main .prev:hover, main .next:hover {
  background-color: #F7DF1E;
  border-radius: 10px;
}
main .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
main .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
main .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
main .parts {
  background-color: #FFFCF5;
  margin-top: 3%;
}
main .parts .showPart {
  max-width: 1250px;
  margin: 0 auto;
}
main .parts .showPart .partWrapper {
  display: flex;
}
main .parts .showPart .partWrapper .partText {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto 0;
  margin-right: auto;
}
main .parts .showPart .partWrapper .partText #specialText {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3%;
  width: 32%;
  border: 1px solid #F7DF1E;
  background-color: #F7DF1E;
  border-radius: 10px;
  padding: 8px;
}
main .parts .showPart .partWrapper .partText #newCollection {
  font-size: 2.3rem;
  font-weight: 700;
  color: #333;
}
main .parts .showPart .partWrapper .partProduct {
  display: flex;
  margin-top: 3%;
  gap: 1%;
}
main .parts .showPart .partWrapper .partProduct .afterFilter::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(66, 22, 55, 0.3);
  border-radius: 10px;
}
main .parts .showPart .partWrapper .partProduct .partProductFirst {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .parts .showPart .partWrapper .partProduct .sunglassesBorder, main .parts .showPart .partWrapper .partProduct .trousersBorder, main .parts .showPart .partWrapper .partProduct .necklacesBorder {
  position: relative;
}
main .parts .showPart .partWrapper .partProduct .sunglassesBorder .borderPart, main .parts .showPart .partWrapper .partProduct .trousersBorder .borderPart, main .parts .showPart .partWrapper .partProduct .necklacesBorder .borderPart {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 700;
  color: #333;
  background-color: #FFFFFF;
  z-index: 2;
  cursor: pointer;
  transition: scale 0.1s;
}
main .parts .showPart .partWrapper .partProduct .sunglassesBorder .borderPart:hover, main .parts .showPart .partWrapper .partProduct .trousersBorder .borderPart:hover, main .parts .showPart .partWrapper .partProduct .necklacesBorder .borderPart:hover {
  background-color: #F7DF1E;
  scale: 1.1;
}
main .parts .showPart .partWrapper .partProduct .sunglassesBorder #sunglassesText, main .parts .showPart .partWrapper .partProduct .trousersBorder #sunglassesText, main .parts .showPart .partWrapper .partProduct .necklacesBorder #sunglassesText {
  top: 40%;
  left: 25%;
  border-radius: 10px;
  padding: 0 3%;
  width: 150px;
  text-align: center;
}
main .parts .showPart .partWrapper .partProduct .sunglassesBorder #trousersText, main .parts .showPart .partWrapper .partProduct .trousersBorder #trousersText, main .parts .showPart .partWrapper .partProduct .necklacesBorder #trousersText {
  top: 35%;
  left: 25%;
  border-radius: 10px;
  padding: 0 3%;
  width: 150px;
  text-align: center;
}
main .parts .showPart .partWrapper .partProduct .sunglassesBorder #necklacesText, main .parts .showPart .partWrapper .partProduct .trousersBorder #necklacesText, main .parts .showPart .partWrapper .partProduct .necklacesBorder #necklacesText {
  top: 40%;
  left: 25%;
  border-radius: 10px;
  padding: 3% 2%;
  width: 180px;
  text-align: center;
}
main .parts .showPart .partWrapper .partProduct .sunglassesBorder .partProductImage, main .parts .showPart .partWrapper .partProduct .trousersBorder .partProductImage, main .parts .showPart .partWrapper .partProduct .necklacesBorder .partProductImage {
  border-radius: 15px;
  height: 100%;
}
main .product .sectionProduct {
  max-width: 1350px;
  margin: 0 auto;
}
main .product .sectionProduct .productWrapper {
  margin-top: 3%;
}
main .product .sectionProduct .productWrapper .productTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 1%;
}
main .product .sectionProduct .productWrapper .productsPartTitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 1%;
}
main .product .sectionProduct .productWrapper .productsPartTitle .cartHover:hover {
  border-bottom: 2px solid #F7DF1E;
  cursor: pointer;
  padding-bottom: 5px;
}
main .product .sectionProduct .productWrapper .productsPartTitle .cartBorder {
  border-bottom: 2px solid #F7DF1E;
  cursor: pointer;
  padding-bottom: 5px;
}
main .product .sectionProduct .productWrapper .productsPartTitle #textAll, main .product .sectionProduct .productWrapper .productsPartTitle #textSunglasses, main .product .sectionProduct .productWrapper .productsPartTitle #textTrousers {
  margin-right: 2%;
}
main .product .sectionProduct .productWrapper .allCart {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-left: 3%;
}
main .product .sectionProduct .productWrapper .allCart .cart {
  margin-bottom: 2%;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart {
  width: 294px;
  border: 1px solid #F7DF1E;
  margin-top: 3%;
  border-radius: 10px;
  position: relative;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .shopCartPiece {
  display: none;
  background-color: #F7DF1E;
  border-radius: 10px;
  width: 38%;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: -2%;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .shopCartPiece i {
  font-size: 0.8rem;
  font-weight: 600;
  color: #0D172A;
  padding: 16.3px 8.8px;
  background-color: #F7DF1E;
  border-radius: 10px;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .shopCartPiece .piece {
  font-size: 0.8rem;
  font-weight: 400;
  color: #333;
  background-color: #FFFFFF;
  padding: 11px 20px 12px 20px;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .shopCartPiece input[type=number] {
  width: 55px;
  border: none;
  outline: none;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .shopCartPiece span {
  display: inline-block;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .shopCartPiece .minus, main .product .sectionProduct .productWrapper .allCart .cart .productCart .shopCartPiece .plus {
  cursor: pointer;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .productCartPhoto img {
  max-height: 292px;
  min-width: 292px;
  border-radius: 10px;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .productCartInfo {
  margin-top: 5%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .productCartInfo .productCartTitle {
  font-size: 0.95rem;
  font-weight: 600;
  color: #333;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .productCartInfo .productCartTextInfo {
  font-size: 0.9rem;
  font-weight: 600;
  color: #7E7979;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .productCartInfo .productCartPrice {
  font-size: 0.9rem;
  font-weight: 700;
  color: #0D172A;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .productCartButton {
  text-align: center;
  margin-bottom: 5%;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .productCartButton .addCart {
  background-color: #0D172A;
  border: 1px solid #0D172A;
  border-radius: 10px;
  outline: none;
  font-size: 0.85rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: 4%;
  width: 110px;
  cursor: pointer;
}
main .product .sectionProduct .productWrapper .allCart .cart .productCart .productCartButton .addCart:hover {
  background-color: #F7DF1E;
  border: 1px solid #F7DF1E;
  color: #0D172A;
}
main .sectionFaqs .faqs {
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 2%;
}
main .sectionFaqs .faqs .faqsWrapper .faqsTitle {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs {
  width: 85%;
  margin: 0 auto;
  margin-top: 2%;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartFirst {
  border: 1px solid #F7DF1E;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 10px;
  cursor: pointer;
  height: 70px;
  transition: height 1sn;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartFirst i {
  background-color: #F7DF1E;
  color: #0D172A;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #F7DF1E;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  float: right;
  transition: transform 1s;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartFirst .rotate {
  transform: rotate(180deg);
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartFirst .delivery {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  display: inline-block;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartFirst .pb {
  padding-bottom: 3%;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartFirst .collapseFirst {
  opacity: 0;
  transition: opacity 1s;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartFirst .showCollapse {
  display: block;
  opacity: 1;
  padding-top: 3%;
  border-top: 1px solid #7E7979;
  transition: opacity 1s;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartSecond {
  border: 1px solid #F7DF1E;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 10px;
  cursor: pointer;
  height: 70px;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartSecond i {
  background-color: #F7DF1E;
  color: #0D172A;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #F7DF1E;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  float: right;
  transition: transform 1s;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartSecond .rotate {
  transform: rotate(180deg);
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartSecond .reaching {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  display: inline-block;
  text-align: center;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartSecond .pb {
  padding-bottom: 3%;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartSecond .collapseSecond {
  opacity: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartSecond .showCollapse {
  display: block;
  transition: opacity 1s;
  opacity: 1;
  padding-top: 3%;
  border-top: 1px solid #7E7979;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartThird {
  border: 1px solid #F7DF1E;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 10px;
  cursor: pointer;
  height: 70px;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartThird i {
  background-color: #F7DF1E;
  color: #0D172A;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #F7DF1E;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  float: right;
  transition: transform 1s;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartThird .rotate {
  transform: rotate(180deg);
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartThird .policy {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  display: inline-block;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartThird .pb {
  padding-bottom: 3%;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartThird .collapseThird {
  opacity: 0;
  transition: opacity 1s;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
main .sectionFaqs .faqs .faqsWrapper .partFaqs .faqsPartThird .showCollapse {
  display: block;
  transition: opacity 1s;
  opacity: 1;
  padding-top: 3%;
  border-top: 1px solid #7E7979;
}
main .sectionContact {
  background-color: #FFFCF5;
}
main .sectionContact .contact {
  max-width: 1250px;
  margin: 0 auto;
}
main .sectionContact .contact .contactWrapper {
  width: 85%;
  margin: 0 auto;
}
main .sectionContact .contact .contactWrapper .contactTitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 3%;
}
main .sectionContact .contact .contactWrapper .contactText {
  font-size: 1.3rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
main .sectionContact .contact .contactWrapper .formWrapper {
  margin: 0 auto;
  border-right: 1px solid #7E7979;
  border-left: 1px solid #7E7979;
  border-bottom: 1px solid #7E7979;
  border-radius: 10px;
}
main .sectionContact .contact .contactWrapper .formWrapper .none {
  display: none;
}
main .sectionContact .contact .contactWrapper .formWrapper .contactTitles {
  font-size: 1.1rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-top: 2%;
  display: flex;
  background-color: #F7DF1E;
  margin: 0 auto;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 2%;
}
main .sectionContact .contact .contactWrapper .formWrapper .contactTitles button {
  border: none;
  cursor: pointer;
}
main .sectionContact .contact .contactWrapper .formWrapper .contactTitles #reachUsTitle, main .sectionContact .contact .contactWrapper .formWrapper .contactTitles #aboutUsTitle, main .sectionContact .contact .contactWrapper .formWrapper .contactTitles #findUsTitle {
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: background-color 1s;
}
main .sectionContact .contact .contactWrapper .formWrapper .contactTitles #reachUsTitle:hover, main .sectionContact .contact .contactWrapper .formWrapper .contactTitles #aboutUsTitle:hover, main .sectionContact .contact .contactWrapper .formWrapper .contactTitles #findUsTitle:hover {
  background-color: #0D172A;
  color: #F7DF1E;
}
main .sectionContact .contact .contactWrapper .formWrapper .contactTitles #reachUsTitle {
  border-radius: 10px 0 0 0;
}
main .sectionContact .contact .contactWrapper .formWrapper .contactTitles #findUsTitle {
  border-radius: 0 10px 0 0;
}
main .sectionContact .contact .contactWrapper .formWrapper .contactTitles .rafTitle {
  background-color: #F7DF1E;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
main .sectionContact .contact .contactWrapper .formWrapper .contactTitles .showPartCollapse {
  background-color: #FFFCF5;
  pointer-events: none;
}
main .sectionContact .contact .contactForm {
  display: flex;
  gap: 3%;
  padding: 2%;
}
main .sectionContact .contact .contactForm img {
  max-height: 364px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main .sectionContact .contact .contactForm .forms {
  width: 100%;
}
main .sectionContact .contact .contactForm .forms form {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}
main .sectionContact .contact .contactForm .forms form input, main .sectionContact .contact .contactForm .forms form textarea {
  border: 1px solid #F7DF1E;
  outline: none;
  margin-bottom: 3%;
  resize: none;
  border-radius: 5px;
  padding: 1.5%;
  font-size: 0.8rem;
  font-weight: 400;
  color: #7F7F7F;
}
main .sectionContact .contact .contactForm .forms form textarea {
  margin-bottom: 6%;
}
main .sectionContact .contact .contactForm .forms form label {
  margin-bottom: 1%;
  font-size: 0.8rem;
  font-weight: 400;
  color: #7F7F7F;
}
main .sectionContact .contact .contactForm .forms form button {
  font-size: 0.7rem;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #0D172A;
  transition: background-color 1s;
  border: #0D172A;
  border-radius: 5px;
  padding: 2%;
  cursor: pointer;
}
main .sectionContact .contact .contactForm .forms form button:hover {
  background-color: #F7DF1E;
  border: #F7DF1E;
  color: #0D172A;
}
main .sectionContact .contact .aboutUs {
  padding: 2%;
}
main .sectionContact .contact .aboutUs .aboutUsTitle {
  text-align: center;
  margin-bottom: 2%;
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
}
main .sectionContact .contact .aboutUs p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #7E7979;
}
main .sectionContact .contact .findUs {
  padding: 2%;
}
main .sectionContact .contact .findUs .findUsTitle {
  text-align: center;
  margin-bottom: 2%;
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
}
main .sectionContact .contact .findUs iframe {
  border-radius: 10px;
}
main input::-webkit-outer-spin-button,
main input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main .openShopCart {
  transform: translateX(0);
}

footer .footerContainer {
  max-width: 1250px;
}
footer .footerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
}
footer .footerWrapper .personalLogo .personalLogoImage {
  width: 32px;
  height: 32px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0D172A;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 2s;
}/*# sourceMappingURL=main.css.map */