@import "variables";

body {
    font-size: 10px;
    background-color: $body-color;
    font-family: "Source Sans Pro", sans-serif;
}

ul {
    list-style: none;
}


header{
position: fixed;
width: 100%;
z-index: 5;
background-color: #FFFFFF;
top: 0;

.container {
    max-width: 1250px;
    margin: 0 auto;
    background-color: $body-color;

    .header-wrapper {
        display: flex;
        align-items: center;

        .menu {
            width: 100%;
            margin-top: 1%;
            ul {
                @include font(1rem, 600, $font-color);
                display: flex;
                margin-left: 15%;
                gap: 14%;
                line-height: 50px;
                li {
                    &:hover {
                        color: $hover-header-color;
                    }
                }
                .products {
                    position: relative;
                    &:hover .dropdownfirst {
                        display: block;
                    }
                }
                .contact{
                    position: relative;
                    &:hover .dropdownsecond{
                        display: block;
                    }
                }
            }
            .dropdown {
                display: none;
                position: absolute;
                background-color: $dropdown-color;
                margin-left: 0;
                padding-left: 0;
                width: 130px;
                left: -45%;
                li{
                    text-align: center;
                }
            }
        }

        .logo {
            .header-logo {
                img {
                    width: 40%;
                }
            }
        }

        .cart {
            display: flex;
            align-items: center;
            gap: 15%;
            cursor: pointer;
            margin-right: 4%;
            margin-top: 1%;
            i {
                font-size: 1.3rem;
            }
            div {
                @include font(0.88rem,600,$font-color);

            }
        }
    }
}
}


// HEADER END

main{
    margin-top: 7%;

    .shopCart{
        position: fixed;
        z-index: 10;
        right: 0;
        top: 0;
        background-color: #FFFFFF;
        width: 35%;
        height: 100%;
        transform:translateX(100%);
        transition: transform 2s;
        .shopCartWrapper{
            margin-top: 14%;
            padding: 5% 3%;
            div{
                padding: 5px 0;
            }
            .shopCartHeader{
                .shopCartTitle{
                    @include font(1rem,600,$font-color);
                    width:88%;
                    display: inline-block;
                }
                .shopCartClose{
                    @include font(1rem,600,$font-color)
                }
            }
            .shopCartEmpty{
                @include font(0.8rem,600,$font-color);
                display: none;
            }
            .shopCartInfo{
                margin-top: 5%;
                padding: 0;
                border-bottom: 1px solid $hover-color;
                padding-bottom: 4%;
                display: flex;
                gap: 10%;
                .shopCartInfoImg{
                    width: 191px;
                    height: 112px;
                    .shopCartImg{
                        width: 191px;
                        height: 112px;
                        object-fit: cover;
                    }
                }
                .shopCartInfoTitle{
                    @include font(0.85rem,600,$font-color)
                }
                .shopCartInfoDesc{
                    @include font(0.75rem,500,$font-color)
                }
                .shopCartQuantity{
                    .shopCartQuantityTitle{
                        @include font(0.85rem,600,$font-color)
                    }
                    .shopCartQuantityNumber{
                        @include font(0.75rem,500,$font-color)
                    }
                    .shopCartTimes{
                        @include font(0.7rem,500,$font-color)
                    }
                    .shopCartProductPrice{
                        @include font(0.75rem,500,$font-color)
                    }        
                }
            }
            .shopCartProductPrice{
                @include font(0.75rem,500,$font-color)
            }
                .totalPrice{
                    padding-top: 7%;
                    .totalPriceTitle{
                        @include font(1rem,600,$font-color);
                        display:inline-block;
                        width: 81%;
                    }
                    .totalPriceNumber{
                        @include font(0.85rem,500,$font-color);
                    }
                }
                    .totalProduct{
                        .totalProductTitle{
                            @include font(1rem,600,$font-color);
                            width: 77%;
                            display: inline-block;    
                        }
                        .totalProductQuantity{
                        @include font(0.85rem,500,$font-color);
                        }
                    }
                
            
        }
    }

.slideshow-container {
  max-width: 1250px;
  position: relative;
  margin: auto;
}

.mySlides {
  position: relative;
  display: none;
}

.mySlides:nth-child(even):after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94,80,91,.3);
}

.mySlides img{
    border-radius: 20px;
    max-height: 352px;
    object-fit: cover;
}

.mySlides span{
    position: absolute;
}

#slider1Text{
    color: $slider1Text-color;
    font-weight: 600;
    font-size: 2.5rem;
    top: 14%;
    left: 40%;
}
#slider2Text{
    color: $slider2Text-color;
    font-weight: 600;
    font-size: 2.5rem;
    top: 50%;
    left: 28%;
    z-index: 2;
}
#slider3Text{
    color: $slider3Text-color;
    font-weight: 600;
    font-size: 2.5rem;
    top: 14%;
    left: 35%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $font-color;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 3%;
  border-radius: 3px 0 0 3px;
}

.prev{
    left: 2.5%;
}

.prev:hover, .next:hover {
  background-color: $hover-color;
  border-radius: 10px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


// SLİDER END
.parts{
    background-color: #FFFCF5;
    margin-top: 3%;

.showPart{
    max-width: 1250px;
    margin: 0 auto;
    .partWrapper{
        display: flex;
        .partText{
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: auto 0;
            margin-right: auto;
            #specialText{
                @include font(1.5rem,600,$font-color);
                margin-bottom: 3%;
                width:32%;
                border: 1px solid $hover-color;
                background-color: $hover-color;
                border-radius: 10px;
                padding: 8px;
            }
            #newCollection{
                @include font(2.3rem,700,$font-color);
            }
        }
        .partProduct{
            display: flex;
            margin-top: 3%;
            gap: 1%;
            .afterFilter::after{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(66,22,55,.3);
                border-radius: 10px;
            }
            .partProductFirst{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
            .sunglassesBorder,.trousersBorder,.necklacesBorder{
                position: relative;
                .borderPart{
                    position: absolute;
                    @include font(1.3rem,700,$font-color);
                    background-color: #FFFFFF;
                    z-index: 2;
                    cursor: pointer;
                    transition: scale 0.1s;
                    &:hover{
                        background-color: $hover-color;
                        scale: 1.1;
                    }
                }
                #sunglassesText{
                    top: 40%;
                    left: 25%;                    
                    border-radius: 10px;
                    padding: 0 3%;
                    width: 150px;
                    text-align: center;
                }
                #trousersText{
                    top: 35%;
                    left: 25%;
                    border-radius: 10px;
                    padding: 0 3%;
                    width: 150px;
                    text-align: center;
                }
                #necklacesText{
                    top: 40%;
                    left: 25%;
                    border-radius: 10px;
                    padding: 3% 2%;
                    width: 180px;
                    text-align: center;
                }
                .partProductImage{
                    border-radius: 15px;
                    height: 100%;
                }
            }
        }
    }
}
}

.product{
    .sectionProduct{
        max-width: 1350px;
        margin: 0 auto;
        .productWrapper{
            margin-top: 3%;
            .productTitle{
                @include font(1.8rem,600,$font-color);
                text-align: center;
                margin-bottom: 1%;
            }
            .productsPartTitle{
                @include font(1.2rem,600,$font-color);
                text-align: center;
                margin-bottom: 1%;

                .cartHover{
                    &:hover{
                        border-bottom: 2px solid $hover-color;
                        cursor: pointer;
                        padding-bottom: 5px;

                    }
                }
                .cartBorder{
                    border-bottom: 2px solid $hover-color;
                    cursor: pointer;
                    padding-bottom: 5px;
                }
                #textAll,#textSunglasses,#textTrousers{
                    margin-right: 2%;
                }
            }
            .allCart{
                display: flex;
                flex-wrap: wrap;
                gap: 2%;
                margin-left: 3%;
            .cart{
                margin-bottom: 2%;
            .productCart{
                width: 294px;
                border: 1px solid $hover-color;
                margin-top: 3%;
                border-radius: 10px;
                position: relative;
                .shopCartPiece{
                    display:none;
                    background-color: $hover-color;
                    border-radius: 10px ;
                    width: 38%;
                    margin: 0 auto;
                    margin-bottom: 5%;
                    margin-top: -2%;
                    i{
                        @include font(0.8rem,600,$btn-bgcolor);
                        padding: 16.3px 8.8px;
                        background-color: $hover-color;
                        border-radius: 10px ;

                    }
                    .piece{
                        @include font(0.8rem,400,$font-color);
                        background-color: #FFFFFF;
                        padding: 11px 20px 12px 20px;
                    }
                    input[type=number]{
                        width: 55px;
                        border: none;
                        outline: none;
                    }
                    span{
                        display: inline-block;
                    }
                    .minus,.plus{
                        cursor: pointer;
                    }
                }
                .productCartPhoto{
                    img{
                        max-height: 292px;
                        min-width:292px;
                        border-radius: 10px;
                    }
                }
                .productCartInfo{
                    margin-top: 5%;
                    margin-bottom: 3%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 3%;
                    .productCartTitle{
                        @include font(0.95rem,600,$font-color);
                    }
                    .productCartTextInfo{
                        @include font(0.9rem,600,$cartInfoText);
                    }
                    .productCartPrice{
                        @include font(0.9rem,700,$btn-bgcolor);
                    }
                }
                .productCartButton{
                    .addCart{
                        background-color: $btn-bgcolor;
                        border:1px solid $btn-bgcolor;
                        border-radius: 10px;
                        outline: none;
                        @include font(0.85rem,700,$body-color);
                        padding: 4%;
                        width: 110px;
                        cursor: pointer;
                        &:hover{
                            background-color: $hover-color;
                            border: 1px solid $hover-color;
                            color: $btn-bgcolor;
                        }
                    }
                    text-align: center;
                    margin-bottom: 5%;
                }

            }
        }
        
        }
    }
}
}

.sectionFaqs{
    .faqs{
        max-width: 1250px;
        margin: 0 auto;
        margin-top: 2%;
        .faqsWrapper{
            .faqsTitle{
                text-align: center;
                @include font(1.8rem,700,$font-color);
            }
            .partFaqs{
                width: 85%;
                margin: 0 auto;
                margin-top: 2%;


                .faqsPartFirst{
                    border: 1px solid $hover-color;
                    padding: 2%;
                    margin-bottom: 3%;
                    border-radius: 10px;
                    cursor: pointer;
                    height: 70px;
                    transition: height 1sn;

                   
                    i{
                        background-color: $hover-color;
                        color: $btn-bgcolor;
                        cursor: pointer;
                        padding: 5px;
                        border: 1px solid $hover-color;
                        border-radius: 20px;
                        font-size: 1.2rem;
                        font-weight: 700;
                        float: right;
                        transition: transform 1s;

                    }
                    .rotate{
                        transform:rotate(180deg);
                    }
                    .delivery{
                        @include font(1rem,600,$font-color);
                        display: inline-block;
                    }
                    .pb{
                        padding-bottom: 3%;
                    }
                    .collapseFirst{
                        opacity: 0;
                        transition: opacity 1s;
                        @include font(1rem,400,$font-color)
                    }
                    .showCollapse{
                        display: block;
                        opacity: 1;
                        padding-top: 3%;
                        border-top: 1px solid $cartInfoText;
                        transition: opacity 1s;
                    }
                }                
                .faqsPartSecond{
                    border: 1px solid $hover-color;
                    padding: 2%;
                    margin-bottom: 3%;
                    border-radius: 10px;
                    cursor: pointer;
                    height: 70px;
                    
                    i{
                        background-color: $hover-color;
                        color: $btn-bgcolor;
                        cursor: pointer;
                        padding: 5px;
                        border: 1px solid $hover-color;
                        border-radius: 20px;
                        font-size: 1.2rem;
                        font-weight: 700;
                        float: right;
                        transition: transform 1s;

                    }
                    .rotate{
                        transform: rotate(180deg);
                    }
                    .reaching{
                        @include font(1rem,600,$font-color);
                        display: inline-block;
                        text-align: center;
                    }
                    .pb{
                        padding-bottom: 3%;
                    }
                    .collapseSecond{
                        opacity: 0;
                        @include font(1rem,400,$font-color)
                    }
                    .showCollapse{
                        display: block;
                        transition: opacity 1s;
                        opacity: 1;
                        padding-top: 3%;
                        border-top: 1px solid $cartInfoText;
                    }
                }
                .faqsPartThird{
                    border: 1px solid $hover-color;
                    padding: 2%;
                    margin-bottom: 3%;
                    border-radius: 10px;
                    cursor: pointer;
                    height: 70px;
                    i{
                        background-color: $hover-color;
                        color: $btn-bgcolor;
                        cursor: pointer;
                        padding: 5px;
                        border: 1px solid $hover-color;
                        border-radius: 20px;
                        font-size: 1.2rem;
                        font-weight: 700;
                        float: right;
                        transition: transform 1s;
                    }
                    .rotate{
                        transform: rotate(180deg);
                    }
                    .policy{
                        @include font(1rem,600,$font-color);
                        display: inline-block;
                    }
                    .pb{
                        padding-bottom: 3%;
                    }
                    .collapseThird{
                        opacity: 0;
                        transition: opacity 1s;
                        @include font(1rem,400,$font-color)
                    }
                    .showCollapse{
                        display: block;
                        transition: opacity 1s;
                        opacity: 1;
                        padding-top: 3%;
                        border-top: 1px solid $cartInfoText;
                    }
                }
            }
        }
    }
}

.sectionContact{
    background-color: $dropdown-color;
.contact{
    max-width: 1250px;
    margin: 0 auto;

.contactWrapper{
    width: 85%;
    margin: 0 auto;
    .contactTitle{
        @include font(1.8rem,700,$font-color);
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 3%;
    }
    .contactText{
        @include font(1.3rem,700,$font-color);
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .formWrapper{
        margin: 0 auto;
        border-right: 1px solid $cartInfoText;
        border-left: 1px solid $cartInfoText;
        border-bottom: 1px solid $cartInfoText;
        border-radius: 10px;
        .none{
            display: none
        }
    .contactTitles{
        @include font(1.1rem,700,$font-color);
        text-align: center;
        margin-top: 2%;
        display: flex;
        background-color: $hover-color;
        margin: 0 auto;
        justify-content: center;
        cursor: pointer;
        border-radius: 10px;
        margin-bottom: 2%;
        button{
            border: none;
            cursor: pointer;
        }
        #reachUsTitle,#aboutUsTitle,#findUsTitle{
            width: 100%;
            height: 100%;
            display: inline-block;
            transition: background-color 1s;
            &:hover{
                background-color: $btn-bgcolor;
                color: $hover-color;
            }
        }
         #reachUsTitle{
            border-radius: 10px 0 0 0;
         }
         #findUsTitle{
            border-radius: 0 10px 0 0 ;
         }
        .rafTitle{
            background-color: $hover-color;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        .showPartCollapse{
            background-color: #FFFCF5;
            pointer-events: none;
        }
    }
    }
}
.contactForm{
    display: flex;
    gap: 3%;
    padding: 2%;
    img{
        max-height: 364px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .forms{
        width: 100%;
        form{
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            input,textarea{
                border: 1px solid $hover-color;
                outline: none;
                margin-bottom: 3%;
                resize:none;
                border-radius: 5px;
                padding: 1.5%;
                @include font(0.8rem,400,$hover-header-color);
            }
            textarea{
                margin-bottom: 6%;
            }

            label{
                margin-bottom: 1%;
                @include font(0.8rem,400,$hover-header-color);
            }
            button{
                @include font(0.7rem,600,$body-color);
                background-color: $btn-bgcolor;
                transition: background-color 1s;
                border: $btn-bgcolor;
                border-radius: 5px;
                padding: 2%;
                cursor: pointer;
            &:hover{
                background-color: $hover-color;
                border: $hover-color;
                color: $btn-bgcolor;
            }
            }
    }
}
}
.aboutUs{
    padding: 2%;
    .aboutUsTitle{
        text-align: center;
        margin-bottom: 2%;
        @include font(1.3rem,600,$font-color);
    }
    p{
        @include font(1.2rem,400,$cartInfoText);
    }
}
.findUs{
    padding: 2%;
    .findUsTitle{
        text-align: center;
        margin-bottom: 2%;
        @include font(1.3rem,600,$font-color);
    }
    iframe{
        border-radius: 10px;
    }
}
}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.openShopCart{
    transform:translateX(0);
}
}

footer{
    .footerContainer{
        max-width: 1250px;
    }
    .footerWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3% 0;
        .personalLogo{
            .personalLogoImage{
                width: 32px;
                height: 32px;
            }
        }
    }
}